{% extends 'catalog/base_blog.html' %}
{% load my_tags %}
{% block content %}

 <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0">
        <div class="col p-4">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ object.title }} Slug:{{ object.slug }}</strong>
          <h3 class="mb-0"> Views: {{ object.views_count }}</h3>
          <div class="mb-1 text-body-secondary">{{ object.created_date }}</div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ object.preview|mediapath }}" />
        </div>
          <div>
              <p class="card-text">{{ object.content }}</p>
          <div class="dtn-group">
            <a href="{%url 'edit_blog' object.pk %}" type="button"
            class="btn btn-sm btn-outline-secondary">Edit</a>
              <a href="{%url 'delete_blog' object.pk %}" type="button"
            class="btn btn-sm btn-outline-secondary">Delete</a>

              {% if object.published_status %}
                <a href="{%url 'switch_status' object.pk %}" type="button"
                class="btn btn-sm btn-outline-secondary">Deactivate</a>
              {% else %}
                <a href="{%url 'switch_status' object.pk %}" type="button"
                class="btn btn-sm btn-outline-secondary">Activate</a>
              {% endif %}
          </div>
    </div>
      </div>
    </div>
 </div>


{% endblock %}